---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&include=1&select=fields.title,fields.description,fields.photo,fields.chef,fields.tags,sys&sys.id=invalid-id
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.14.0; platform ruby/2.6.5; os Linux;
      Authorization:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"10440568906820546102"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - cba96474-33ee-4029-88c6-2b4be1e3014c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 01 Nov 2019 13:23:05 GMT
recorded_with: VCR 5.0.0
